+b.HEADER.header
	+e.inner
		+e.container.container
			+e.BUTTON(type='button').nav-toggle
				span
				span
				span

			+e.A.logo(href='#!')
				svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 558.24 66.48')
					path(d='M17.9,65.28,0,1.37H17.62l9.87,40.26L38.9,1.37H51.78L63.19,41.63l10-40.26H90.67L72.87,65.28H55.61L45.38,29.21,35.15,65.28Z')
					path(d='M237.49,65.28,219.6,1.37h17.62l9.86,40.26L258.5,1.37h12.87l11.42,40.26,9.95-40.26h17.53l-17.8,63.91H275.21L265,29.21,254.75,65.28Z')
					path(d='M366.48,47.48a17.77,17.77,0,0,1-17.81,17.8H320.82V1.37h25.75a16.6,16.6,0,0,1,12.15,5.11,16.44,16.44,0,0,1,5,12.05,15,15,0,0,1-7.49,13.61A16.43,16.43,0,0,1,366.48,47.48ZM327.21,7.39V29.68h19.36a10.29,10.29,0,0,0,7.58-3.2,11.15,11.15,0,0,0,3.2-7.95,11,11,0,0,0-3.2-7.85,10,10,0,0,0-7.58-3.29Zm21.46,51.87a10.65,10.65,0,0,0,8-3.38,11.48,11.48,0,0,0,3.37-8.4,11.42,11.42,0,0,0-3.37-8.31,10.73,10.73,0,0,0-8-3.47H327.21V59.26Z')
					path(d='M406.86,66.38A32,32,0,0,1,383.4,56.8a32.15,32.15,0,0,1-9.59-23.48A31.77,31.77,0,0,1,383.4,10a33.28,33.28,0,0,1,46.93,0,31.77,31.77,0,0,1,9.59,23.37,32.15,32.15,0,0,1-9.59,23.48A32,32,0,0,1,406.86,66.38Zm0-6.21a25.46,25.46,0,0,0,19-7.75,26.23,26.23,0,0,0,7.67-19.1,26,26,0,0,0-7.67-19,26.88,26.88,0,0,0-38,0,26,26,0,0,0-7.68,19,26.24,26.24,0,0,0,7.68,19.1A25.45,25.45,0,0,0,406.86,60.17Z')
					path(d='M475.57,1.37a27.92,27.92,0,0,1,21.55,9.31c5.75,6.12,8.58,13.69,8.58,22.64s-2.83,16.54-8.58,22.74a28.11,28.11,0,0,1-21.55,9.22H450.92V1.37Zm0,57.89a21.85,21.85,0,0,0,17.17-7.48,26.77,26.77,0,0,0,6.75-18.46,26.68,26.68,0,0,0-6.75-18.43,21.84,21.84,0,0,0-17.17-7.5H457.3V59.26Z')
					path(d='M558.24,1.37l-23.1,37.7V65.28h-6.39V38.9l-23-37.53h7.2L532,32.68,551,1.37Z')
					path(d='M186.82,16a17.26,17.26,0,0,1,0,34.51H123.87a17.26,17.26,0,0,1,0-34.51h62.95m0-16H123.87a33.24,33.24,0,0,0,0,66.48h62.95a33.24,33.24,0,1,0,0-66.48Z')

			+e.NAV.nav
				+e.nav-inner
					+e.nav-mob-scroll
						-
							navList = [
							['программы', 'programs'],
							['о нас', 'about'],
							['события', 'events'],
							['команда', 'team'],
							['карьера', 'career'],
							['контакты', 'contacts']
							]

						+e.UL.nav-list
							for navEl in navList
								li: a(href= `#${navEl[1]}`)= navEl[0]

						+e.mob-actions
							+e.A.mob-btn.btn._white-2(href='#!')
								span Магазин
							+e.lang._mobile
								ul
									li
										a(href='#!') РУС
											.
												<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
												width="444.819px" height="444.819px" viewBox="0 0 444.819 444.819" style="enable-background:new 0 0 444.819 444.819;"
												xml:space="preserve" >
												<path d="M434.252,114.203l-21.409-21.416c-7.419-7.04-16.084-10.561-25.975-10.561c-10.095,0-18.657,3.521-25.7,10.561
												L222.41,231.549L83.653,92.791c-7.042-7.04-15.606-10.561-25.697-10.561c-9.896,0-18.559,3.521-25.979,10.561l-21.128,21.416
												C3.615,121.436,0,130.099,0,140.188c0,10.277,3.619,18.842,10.848,25.693l185.864,185.865c6.855,7.23,15.416,10.848,25.697,10.848
												c10.088,0,18.75-3.617,25.977-10.848l185.865-185.865c7.043-7.044,10.567-15.608,10.567-25.693
												C444.819,130.287,441.295,121.629,434.252,114.203z"/>
												</svg>

										ul
											li: a(href='#!') УКР
											li: a(href='#!') ENG

			+e.side
				+e.A.side-btn.btn._white-2(href='#!')
					span Магазин

				+e.lang
					ul
						li
							a(href='#!') РУС
								.
									<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
									width="444.819px" height="444.819px" viewBox="0 0 444.819 444.819" style="enable-background:new 0 0 444.819 444.819;"
									xml:space="preserve" >
									<path d="M434.252,114.203l-21.409-21.416c-7.419-7.04-16.084-10.561-25.975-10.561c-10.095,0-18.657,3.521-25.7,10.561
									L222.41,231.549L83.653,92.791c-7.042-7.04-15.606-10.561-25.697-10.561c-9.896,0-18.559,3.521-25.979,10.561l-21.128,21.416
									C3.615,121.436,0,130.099,0,140.188c0,10.277,3.619,18.842,10.848,25.693l185.864,185.865c6.855,7.23,15.416,10.848,25.697,10.848
									c10.088,0,18.75-3.617,25.977-10.848l185.865-185.865c7.043-7.044,10.567-15.608,10.567-25.693
									C444.819,130.287,441.295,121.629,434.252,114.203z"/>
									</svg>

							ul
								li: a(href='#!') УКР
								li: a(href='#!') ENG

			+e.line._l
			+e.line._r