extends ../extend/default

block variables
	- var title = 'Article page';
	- var bodyClass = 'is-sub';

block main
	main.content(data-page='article')

		//begin article
		+b.ARTICLE.article
			+e.container.container(data-anim-stagger='fade-y')
				+e.top
					+e.A.back-link.arrow-link._arr-l(href='#!')
						.
							<svg width="55px" height="10px" viewBox="0 0 55 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
							<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
							<g transform="translate(-362.000000, -133.000000)">
							<g transform="translate(389.500000, 138.500000) scale(-1, 1) translate(-389.500000, -138.500000) translate(362.000000, 131.000000)">
							<g transform="translate(0.000000, 6.000000)" class='for-fill'>
							<rect transform="translate(26.500000, 1.000000) rotate(90.000000) translate(-26.500000, -1.000000) " x="25.5" y="-25.5" width="2" height="53" rx="1"></rect>
							</g>
							<polyline class='for-stroke' stroke-width="2" stroke-linecap="round" stroke-linejoin="round" transform="translate(52.000000, 7.000000) scale(-1, 1) rotate(90.000000) translate(-52.000000, -7.000000) " points="48 5 52 9 56 5"></polyline>
							</g>
							</g>
							</g>
							</svg>
						span Назад к событиям

				+e.content
					+e.title
						+e.title-text
							h1 Презентация программы WOWBODY slim
						+e.title-label.event-label._3
							span Новость

					p Это было WOW! Анита Луценко и Юлия Богдан раскрыли секрет успешного похудения Киев на один день окунулся в атмосферу здоровья и красоты. 15 марта 2018 года состоялось грандиозное событие, настоящее шоу — два звездных тренера, Анита Луценко и Юлия Богдан, представили обновлённую авторскую программу для похудения
						a(href='#!') WOWBODY slim
						= ' '
						| Мероприятие проходило в гостеприимном и современном пространстве Inveria в самом центре столицы.

					img(src='static/img/content/article_img.jpg')

					+e.slider
						-i = 0
						while i < 2
							+e.slider-item
								+e.slider-img(style='background-image: url(static/img/content/article_img-2.jpg)')
							+e.slider-item
								+e.slider-img(style='background-image: url(static/img/content/article_img.jpg)')
							-i++

					p Презентация прошла ярко и насыщенно, за музыку отвечала Даша Коломиец. Кроме представления новой программы и презентации нового брендбука WOWBODY, журналисты прошли мастер-класс от Аниты и Юли — несложную, но эффективную зарядку. Все было продумано до мелочей, даже вкусный и полезный завтрак в формате WOW от Dip me, после которого ни один лишний сантиметр не задержится на талии. И приятный бонус — гостей не оставили без стильных подарков. Яркие рюкзаки со спортивными бутылочками и сертификатами на прохождение WOWBODY slim. Но на этом сюрпризы не закончились! В конце мероприятия тренеры разыграли книгу Аниты и Светланы Фус «Ты просто WOW» и модный свитшот из новой спортивной коллекции WOWBODY.

					blockquote «Свершилось! Полтора года мы работали над обновлением нашей любимой программы WOWBODY. Новый цвет, новый логотип, новый сайт. Мы же не можем чуть-чуть улучшить. Мы как всегда, — меняем все кардинально»

					p WOWBODY slim — революционная онлайн-программа, которая включает в себя план питания со вкусными полезными рецептами, тренировки, мотивацию, всяческие советы и психологические задания. Проект научит любить себя, заботиться о своем теле и позитивно мыслить. Уникальность программы в том, что не выходя из дома участницы смогут тренироваться с топ-тренерами и реально худеть без голодовок и тренажеров. В ходе программы у девушек вырабатывается иммунитет к сладостям и другим вредным привычкам.

				+e.actions
					+e.A.back-link.arrow-link._arr-l(href='#!')
						.
							<svg width="55px" height="10px" viewBox="0 0 55 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
							<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
							<g transform="translate(-362.000000, -133.000000)">
							<g transform="translate(389.500000, 138.500000) scale(-1, 1) translate(-389.500000, -138.500000) translate(362.000000, 131.000000)">
							<g transform="translate(0.000000, 6.000000)" class='for-fill'>
							<rect transform="translate(26.500000, 1.000000) rotate(90.000000) translate(-26.500000, -1.000000) " x="25.5" y="-25.5" width="2" height="53" rx="1"></rect>
							</g>
							<polyline class='for-stroke' stroke-width="2" stroke-linecap="round" stroke-linejoin="round" transform="translate(52.000000, 7.000000) scale(-1, 1) rotate(90.000000) translate(-52.000000, -7.000000) " points="48 5 52 9 56 5"></polyline>
							</g>
							</g>
							</g>
							</svg>
						span Назад к событиям

					+share('article__share', 'поделиться:', 'tw', 'fb')
	//end article