//begin shop
+b.SECTION.shop
	+e.bg(style='background-image: url(static/img/bg/shop_bg.jpg)' data-anim='bg')
	+e.content(data-anim-stagger='zoom-in' data-start-delay='1')

		+e.item._1(class='is-active')
			+e.BUTTON.item-btn(type='button')
				+e.SVG.item-btn-icon(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='357px', height='357px', viewbox='0 0 357 357', xml:space='preserve')
					polygon(points='357,35.7 321.3,0 178.5,142.8 35.7,0 0,35.7 142.8,178.5 0,321.3 35.7,357 178.5,214.2 321.3,357 357,321.3\
					214.2,178.5')

			+e.item-popup._left
				+e.item-popup-inner
					+e.item-img-wrap
						+e.IMG(src='static/img/shop/bottle.jpg' width='60' height='136' alt='image')
					+e.A.item-info(href='#!')
						+e.item-descr
							p WOWBOTLE
							p Бутылка розовая 700 мл.

						+e.item-price
							span 500 грн

		+e.item._2
			+e.BUTTON.item-btn(type='button')
				+e.SVG.item-btn-icon(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='357px', height='357px', viewbox='0 0 357 357', xml:space='preserve')
					polygon(points='357,35.7 321.3,0 178.5,142.8 35.7,0 0,35.7 142.8,178.5 0,321.3 35.7,357 178.5,214.2 321.3,357 357,321.3\
							214.2,178.5')

			+e.item-popup
				+e.item-popup-inner
					+e.item-img-wrap
						+e.IMG(src='static/img/shop/bottle.jpg' width='60' height='136' alt='image')
					+e.A.item-info(href='#!')
						+e.item-descr
							p WOWBOTLE
							p Бутылка розовая 700 мл.

						+e.item-price
							span 500 грн

		+e.item._3
			+e.BUTTON.item-btn(type='button')
				+e.SVG.item-btn-icon(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='357px', height='357px', viewbox='0 0 357 357', xml:space='preserve')
					polygon(points='357,35.7 321.3,0 178.5,142.8 35.7,0 0,35.7 142.8,178.5 0,321.3 35.7,357 178.5,214.2 321.3,357 357,321.3\
									214.2,178.5')

			+e.item-popup._right
				+e.item-popup-inner
					+e.item-img-wrap
						+e.IMG(src='static/img/shop/bottle.jpg' width='60' height='136' alt='image')
					+e.A.item-info(href='#!')
						+e.item-descr
							p WOWBOTLE
							p Бутылка розовая 700 мл.

						+e.item-price
							span 500 грн

		+e.item._4
			+e.BUTTON.item-btn(type='button')
				+e.SVG.item-btn-icon(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='357px', height='357px', viewbox='0 0 357 357', xml:space='preserve')
					polygon(points='357,35.7 321.3,0 178.5,142.8 35.7,0 0,35.7 142.8,178.5 0,321.3 35.7,357 178.5,214.2 321.3,357 357,321.3\
									214.2,178.5')

			+e.item-popup
				+e.item-popup-inner
					+e.item-img-wrap
						+e.IMG(src='static/img/shop/bottle.jpg' width='60' height='136' alt='image')
					+e.A.item-info(href='#!')
						+e.item-descr
							p WOWBOTLE
							p Бутылка розовая 700 мл.

						+e.item-price
							span 500 грн

		+e.item._5
			+e.BUTTON.item-btn(type='button')
				+e.SVG.item-btn-icon(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='357px', height='357px', viewbox='0 0 357 357', xml:space='preserve')
					polygon(points='357,35.7 321.3,0 178.5,142.8 35.7,0 0,35.7 142.8,178.5 0,321.3 35.7,357 178.5,214.2 321.3,357 357,321.3\
									214.2,178.5')

			+e.item-popup
				+e.item-popup-inner
					+e.item-img-wrap
						+e.IMG(src='static/img/shop/bottle.jpg' width='60' height='136' alt='image')
					+e.A.item-info(href='#!')
						+e.item-descr
							p WOWBOTLE
							p Бутылка розовая 700 мл.

						+e.item-price
							span 500 грн

		+e.item._6
			+e.BUTTON.item-btn(type='button')
				+e.SVG.item-btn-icon(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='357px', height='357px', viewbox='0 0 357 357', xml:space='preserve')
					polygon(points='357,35.7 321.3,0 178.5,142.8 35.7,0 0,35.7 142.8,178.5 0,321.3 35.7,357 178.5,214.2 321.3,357 357,321.3\
									214.2,178.5')

			+e.item-popup
				+e.item-popup-inner
					+e.item-img-wrap
						+e.IMG(src='static/img/shop/bottle.jpg' width='60' height='136' alt='image')
					+e.A.item-info(href='#!')
						+e.item-descr
							p WOWBOTLE
							p Бутылка розовая 700 мл.

						+e.item-price
							span 500 грн

		+e.item._7
			+e.BUTTON.item-btn(type='button')
				+e.SVG.item-btn-icon(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='357px', height='357px', viewbox='0 0 357 357', xml:space='preserve')
					polygon(points='357,35.7 321.3,0 178.5,142.8 35.7,0 0,35.7 142.8,178.5 0,321.3 35.7,357 178.5,214.2 321.3,357 357,321.3\
									214.2,178.5')

			+e.item-popup._left
				+e.item-popup-inner
					+e.item-img-wrap
						+e.IMG(src='static/img/shop/bottle.jpg' width='60' height='136' alt='image')
					+e.A.item-info(href='#!')
						+e.item-descr
							p WOWBOTLE
							p Бутылка розовая 700 мл.

						+e.item-price
							span 500 грн

		+e.item._8
			+e.BUTTON.item-btn(type='button')
				+e.SVG.item-btn-icon(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='357px', height='357px', viewbox='0 0 357 357', xml:space='preserve')
					polygon(points='357,35.7 321.3,0 178.5,142.8 35.7,0 0,35.7 142.8,178.5 0,321.3 35.7,357 178.5,214.2 321.3,357 357,321.3\
									214.2,178.5')

			+e.item-popup
				+e.item-popup-inner
					+e.item-img-wrap
						+e.IMG(src='static/img/shop/bottle.jpg' width='60' height='136' alt='image')
					+e.A.item-info(href='#!')
						+e.item-descr
							p WOWBOTLE
							p Бутылка розовая 700 мл.

						+e.item-price
							span 500 грн

	+e.container.container
		+e.text(data-anim-stagger='fade-y')
			+e.title.title-lg
				h2 WOWSHOP
			+e.descr
				p Мы совмесно с дизайнером Тинкером Хэтфилдом разработали линейку одежды для спорта,
					br
					| чтобы вы чувствовали себя красивыми всегда
	+e.A.go-link.btn._white._md(href='#!' data-anim='fade-y')
		span перейти в магазин
//end shop